body {
    background: #fce4ec;
    text-align: center;
    font-family: 'Arial';
}

.cake-container {
    text-align: center;
}

.cake {
    width: 400px;
    height: 500px;
    display: block;
    margin: 0 auto;
    image-rendering: pixelated;

}
.heart {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    image-rendering: pixelated;
}

.heart-container {
    display: flex;
    justify-content: center;
}


.h1 {
    font-family: 'Pacifico', cursive;
    color: #d81b60;
    font-size: 48px;
    margin-top: 30px;
    text-shadow: 0 0 8px rgba(249, 72, 122, 0.6);
}
p {
    font-family: 'pacifico';
    font-size: 20px;
    color: #880e4f;
    margin: 10px 0;
    line-height: 1.5;
}
.p {
    font-family: 'pacifico';
    font-size: 20px;
    color: #880e4f;
    margin-left: 50px ;
    margin-right: 50px;
    margin-top: 30px;
    line-height: 1.5;
}

    
button {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff80ab;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}
button:hover {
    background: #ff4081;
    cursor: pointer;
}

.modal {
    display: none;
    inset: 0;
}

.modal-content {
    background: rgb(255, 203, 219);
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}
@media(max-width:600px) {
    p{ 
        font-size:26px;
        line-height:1.5 !important;
        }
}

